<%- include('partials/header') -%>

<h1><%= pallets[0].shipDate.slice(5) %> </h1>
<h1><%= pallets[0].distributionCenter %> </h1>

<ul>
    <% pallets.forEach( (el, i) => { %>
        <li class='palletReconcile' data-id='<%=el._id%>'>
            <h3>Pallet <%=(i + 1) %></h3>
            <h3>Count: <%=el.cartonList.length %> pcs</h3>
            <ul>
                <% el.cartonList.forEach(e => { %>
                    <li>
                        <span><%= e %></span>
                        <form action="/pallet/deleteCarton/<%=el._id%>/<%=e%>?_method=PUT" method="POST">
                            <input type="submit" name="_method" value="PUT">
                        </form> 
                    </li>
                    
                <% }) %>
            </ul>
        </li>
    <% }) %>  
</ul>

<%-include('partials/footer') -%>