<%- include('partials/header') -%>

    <!-- get request with the most recent pallet -->
    <ul class="pallet_label">
        <li class="pallet_label_header"><h3>Customer:</h3><span><%= accountName %></span></li>
        <li class="pallet_label_header"><h3>Ship Date:</h3><span><%= shipDate %></span></li>
        <li class="pallet_label_header"><h3>DC:</h3><span><%= distributionCenter %></span></li>
        <li class="pallet_label_header"><h3>Carton Count:</h3><span><%= cartonCount.length %></span></li>
    </ul>
    
    <button id="printer" class="no_print" onclick="window.print()">Print Me</button>
    <a href="/pallet/buildPallet" class="no_print">Build New</a>

    <%- include('partials/footer') -%>