<%- include('partials/header') -%>

<section>
<h1><%= pallets[0].shipDate.slice(-5) %>:</h1>
<h2><%= pallets[0].accountName %>:</h2>
</section>

<ul>
    <% palletsAgg.forEach( el => { %>
        <li class='palletListByDate' data-id='<%=el._id%>'>
            <h3>DC: <%=el._id %></h3>
            <h3>Pallet Count: <%=el.palletCount %></h3>
            <h3>Carton Count:<%= el.totalCount %></h3>
            <a href="/pallet/reconcile/skid/<%=el.shipDate%>/<%=el._id%>">Pallet list</a>
        </li>
<% }) %>  

<!-- find a way to filter out these dates -->
</ul>

<%-include('partials/footer') -%>